# Text files using LF:
*.gitattributes text eol=lf
*.gitignore text eol=lf
*.md text eol=lf
*.cbp text eol=lf
*.c text eol=lf
*.h text eol=lf
*.workspace text eol=lf
*.properties eol=lf

# Text files using CRLF:
*.bat text eol=crlf
*.vcxproj text eol=crlf

# Binary files:
*.dat binary
